* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9b6927;
    color: #333;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background-color: #1e1e1e;
    color: #d4af37;
    padding: 25px 0;5
    text-align: center;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #b38b30;
}

.hero {
    background-image: url('back\ imag.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(69, 40, 7);
    text-align: center;
    padding: 120px 0;
}

.hero h2 {
    font-size: 48px;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #d4af37;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #b38b30;
}

.featured {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.featured h2 {
    font-size: 36px;
    font-family: 'Georgia', serif;
    margin-bottom: 60px;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.product {
    width: 30%;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.product p {
    color: #777;
    font-size: 16px;
}

footer {
    background-color: #1e1e1e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
